modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_EMAILS = "admin@anonymiketech.online,anonymiketech@gmail.com"
PTERODACTYL_API_KEY = "ptla_HlWH8bEhddk466QnGeioFAaZSWXEY9bJz0e5RL3zHAB"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 20391
externalPort = 80
